# CognoRise InfoTech Data Science Hackathon

## Credit Classification Problem for C&T Bank

### Name: Shahid Ali

### Email: shahidali33106@gmail.com

# Import necessary libraries

In [102]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
import warnings
warnings.filterwarnings('ignore')

# Loading the dataset

In [103]:
# Load the training dataset
train_df = pd.read_csv('C&T train dataset1.csv')

# Load the testing dataset
test_df = pd.read_csv('C&T test dataset1.csv')

# Displaying the first few rows of the dataset

In [104]:

train_df.head()

,sno,acc_info,duration_month,credit_history,purpose,savings_acc,employment_st,poi,personal_status,gurantors,...,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner,Group_no
0,1,A11,6,A34,A43,A65,A75,4.0,A93,A101,...,A121,67.0,A143,A152,2,A173,1,A192,A201,3
1,2,A12,48,A32,A43,A61,A73,2.0,A92,A101,...,A121,22.0,A143,A152,1,A173,1,A191,A201,1
2,3,A14,12,A34,A46,A61,A74,2.0,A93,A101,...,A121,49.0,A143,A152,1,A172,2,A191,A201,2
3,4,A11,42,A32,A42,A61,A74,2.0,A93,A103,...,A122,45.0,A143,A153,1,A173,2,A191,A201,1
4,5,A11,24,A33,A40,A61,A73,3.0,A93,A101,...,A124,53.0,A143,A153,2,A173,2,A191,A201,1

In [105]:
test_df.head()

,sno,acc_info,duration_month,credit_history,purpose,savings_acc,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
0,1,A14,24,A34,A46,A61,A75,4.0,A93,A101,4,A124,54.0,A143,A153,2,A173,2,A191,A201
1,2,A12,18,A34,A43,A61,A75,3.0,A92,A103,4,A121,48.0,A141,A151,2,A172,1,A192,A201
2,3,A11,20,A34,A42,A61,A75,1.0,A92,A101,4,A122,24.0,A143,A152,2,A173,1,A191,A201
3,4,A14,12,A34,A43,A65,A75,4.0,A93,A101,4,A123,35.0,A143,A152,2,A173,1,A191,A201
4,5,A12,12,A32,A40,A65,A71,1.0,A92,A101,2,A121,24.0,A143,A151,1,A171,1,A191,A201

# Checking Null values in Train dataset

In [106]:
train_df.isna().sum()

sno                  0
acc_info             0
duration_month       0
credit_history       0
purpose              0
savings_acc          0
employment_st        8
poi                 12
personal_status      0
gurantors            8
resident_since       0
property_type        0
age                  4
installment_type     0
housing_type         7
credits_no           0
job_type             0
liables              0
telephone            0
foreigner            0
Group_no             0
dtype: int64

# Removing missing values in Training data

In [107]:
#cleaned_data = train_df.dropna()

In [110]:
#train_df = cleaned_data

# Handling missing values in Training dataset

In [111]:
import pandas as pd

# Load the dataset
train_df = pd.read_csv('C&T train dataset1.csv')
  # Update with your dataset filename

# Display the number of missing values in each column
print("Number of missing values in each column:")
print(train_df.isnull().sum())


# Numeric Columns: Impute missing values with mean
numeric_columns = ['poi', 'age']
for col in numeric_columns:
    train_df[col].fillna(train_df[col].mean(), inplace=True)


    
    
    
    # Categorical Columns: Impute missing values with mode
categorical_columns = ['employment_st', 'housing_type','gurantors']
for col in categorical_columns:
    train_df[col].fillna(train_df[col].mode()[0], inplace=True)

    

# Display the number of missing values after handling
print("\nNumber of missing values after handling:")
print(train_df.isnull().sum())

Number of missing values in each column:
sno                  0
acc_info             0
duration_month       0
credit_history       0
purpose              0
savings_acc          0
employment_st        8
poi                 12
personal_status      0
gurantors            8
resident_since       0
property_type        0
age                  4
installment_type     0
housing_type         7
credits_no           0
job_type             0
liables              0
telephone            0
foreigner            0
Group_no             0
dtype: int64

Number of missing values after handling:
sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       0
poi                 0
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 0
installment_type    0
housing_type        0
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
Group_no            0
dtype: int64

In [112]:
train_df.shape

(800, 21)

# Checking Null values in Test dataset

In [113]:
test_df.isna().sum()

sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       5
poi                 5
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 2
installment_type    0
housing_type        8
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
dtype: int64

# Handling missing values in Test dataset

In [114]:
#import pandas as pd

# Load the dataset
test_df = pd.read_csv('C&T test dataset1.csv')
  # Update with your dataset filename

# Display the number of missing values in each column
print("Number of missing values in each column:")
print(test_df.isnull().sum())



# Numeric Columns: Impute missing values with mean
numeric_columns = ['poi', 'age']
for col in numeric_columns:
    test_df[col].fillna(test_df[col].mean(), inplace=True)

    
    
      
    # Categorical Columns: Impute missing values with mode
categorical_columns = ['employment_st', 'housing_type']
for col in categorical_columns:
    test_df[col].fillna(test_df[col].mode()[0], inplace=True)

    

# Display the number of missing values after handling
print("\nNumber of missing values after handling:")
print(test_df.isnull().sum())

Number of missing values in each column:
sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       5
poi                 5
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 2
installment_type    0
housing_type        8
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
dtype: int64

Number of missing values after handling:
sno                 0
acc_info            0
duration_month      0
credit_history      0
purpose             0
savings_acc         0
employment_st       0
poi                 0
personal_status     0
gurantors           0
resident_since      0
property_type       0
age                 0
installment_type    0
housing_type        0
credits_no          0
job_type            0
liables             0
telephone           0
foreigner           0
dtype: int64

In [115]:
#test_df= test_df.dropna()

In [116]:
test_df

,sno,acc_info,duration_month,credit_history,purpose,savings_acc,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,credits_no,job_type,liables,telephone,foreigner
0,1,A14,24,A34,A46,A61,A75,4.0,A93,A101,4,A124,54.0,A143,A153,2,A173,2,A191,A201
1,2,A12,18,A34,A43,A61,A75,3.0,A92,A103,4,A121,48.0,A141,A151,2,A172,1,A192,A201
2,3,A11,20,A34,A42,A61,A75,1.0,A92,A101,4,A122,24.0,A143,A152,2,A173,1,A191,A201
3,4,A14,12,A34,A43,A65,A75,4.0,A93,A101,4,A123,35.0,A143,A152,2,A173,1,A191,A201
4,5,A12,12,A32,A40,A65,A71,1.0,A92,A101,2,A121,24.0,A143,A151,1,A171,1,A191,A201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,A14,12,A32,A42,A61,A74,3.0,A92,A101,4,A121,31.0,A143,A152,1,A172,1,A191,A201
196,197,A11,30,A32,A41,A61,A73,4.0,A91,A101,4,A122,40.0,A143,A152,1,A174,1,A192,A201
197,198,A14,12,A32,A43,A61,A75,4.0,A93,A101,4,A123,38.0,A143,A152,1,A173,1,A191,A201
198,199,A11,45,A32,A43,A61,A73,4.0,A93,A101,4,A124,23.0,A143,A153,1,A173,1,A192,A201
199,200,A12,45,A34,A41,A62,A71,3.0,A93,A101,4,A123,27.0,A143,A152,1,A173,1,A191,A201

# Shape of dataset

In [117]:
train_df.shape

(800, 21)

In [118]:
test_df.shape

(200, 20)

# Split the datasets into features and target variable

In [119]:
# Split the datasets into features and target variable
X_train = train_df.drop('Group_no', axis=1)
y_train = train_df['Group_no']
X_test = test_df.drop('credits_no', axis=1)
y_test = test_df['credits_no']

In [120]:
X_train.shape

(800, 20)

In [121]:
y_train.shape

(800,)

In [122]:
X_test.shape

(200, 19)

In [123]:
y_test.shape

(200,)

In [124]:
X_test

,sno,acc_info,duration_month,credit_history,purpose,savings_acc,employment_st,poi,personal_status,gurantors,resident_since,property_type,age,installment_type,housing_type,job_type,liables,telephone,foreigner
0,1,A14,24,A34,A46,A61,A75,4.0,A93,A101,4,A124,54.0,A143,A153,A173,2,A191,A201
1,2,A12,18,A34,A43,A61,A75,3.0,A92,A103,4,A121,48.0,A141,A151,A172,1,A192,A201
2,3,A11,20,A34,A42,A61,A75,1.0,A92,A101,4,A122,24.0,A143,A152,A173,1,A191,A201
3,4,A14,12,A34,A43,A65,A75,4.0,A93,A101,4,A123,35.0,A143,A152,A173,1,A191,A201
4,5,A12,12,A32,A40,A65,A71,1.0,A92,A101,2,A121,24.0,A143,A151,A171,1,A191,A201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,196,A14,12,A32,A42,A61,A74,3.0,A92,A101,4,A121,31.0,A143,A152,A172,1,A191,A201
196,197,A11,30,A32,A41,A61,A73,4.0,A91,A101,4,A122,40.0,A143,A152,A174,1,A192,A201
197,198,A14,12,A32,A43,A61,A75,4.0,A93,A101,4,A123,38.0,A143,A152,A173,1,A191,A201
198,199,A11,45,A32,A43,A61,A73,4.0,A93,A101,4,A124,23.0,A143,A153,A173,1,A192,A201
199,200,A12,45,A34,A41,A62,A71,3.0,A93,A101,4,A123,27.0,A143,A152,A173,1,A191,A201

In [125]:
y_test

0      2
1      2
2      2
3      2
4      1
      ..
195    1
196    1
197    1
198    1
199    1
Name: credits_no, Length: 200, dtype: int64

# Performing one-hot encoding on categorical variables in both training and testing datasets

In [126]:
X_test.shape

(200, 19)

In [132]:
# Perform one-hot encoding on categorical variables in both training and testing datasets
X_train = pd.get_dummies(X_train)
X_test = pd.get_dummies(X_test)

# Ensure that both datasets have the same columns after one-hot encoding
# Add missing columns to the test dataset with default values of 0
#missing_cols = set(X_train.columns) - set(X_test.columns)
#for col in missing_cols:
#    X_test[col] = 0

# Reorder the columns in the test dataset to match the order in the train dataset
#X_test = X_test[X_train.columns]

In [133]:
X_test.shape

(200, 61)

# Split the data into training and testing sets

In [134]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size=0.25,random_state=42)

# Initialize classifiers
classifiers = {
    "Random Forest": RandomForestClassifier(n_estimators=100, random_state=0),
    "Decision Tree": DecisionTreeClassifier(random_state=42),
    "Logistic Regression": LogisticRegression(),
    "KNN": KNeighborsClassifier(),
    "NB": GaussianNB(),
    "MLP": MLPClassifier(),
    "Support Vector Machine": SVC(kernel='linear', random_state=42),
    "Gradient Boosting": GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
}

In [135]:
X_train.shape

(600, 61)

In [136]:
X_test.shape

(200, 61)

# Train and evaluate each classifier

In [160]:
# Train and evaluate each classifier
for name, clf in classifiers.items():
    print(f"Training {name}...")
    # Train the classifier
    clf.fit(X_train, y_train)
    
    # Make predictions on the testing set
    y_pred = clf.predict(X_test)
    
    # Calculate accuracy
    print(" ")

    accuracy = accuracy_score(y_test, y_pred)
    print(f"                Accuracy for {name}: {accuracy*100:.2f}%")
    
    # Print classification report
    print(" ")

    print(f"Classification Report for {name}:")
    print(classification_report(y_test, y_pred))
    
    # Print confusion matrix
    print(f"Confusion Matrix for {name}:")
    print(confusion_matrix(y_test, y_pred))
    print("----------------------------------------------")

Training Random Forest...

                Accuracy for Random Forest: 62.00%

Classification Report for Random Forest:
              precision    recall  f1-score   support

           1       0.65      0.50      0.56        40
           2       0.58      0.68      0.63        92
           3       0.67      0.60      0.64        68

    accuracy                           0.62       200
   macro avg       0.63      0.60      0.61       200
weighted avg       0.63      0.62      0.62       200

Confusion Matrix for Random Forest:
[[20 19  1]
 [10 63 19]
 [ 1 26 41]]
----------------------------------------------
Training Decision Tree...

                Accuracy for Decision Tree: 59.00%

Classification Report for Decision Tree:
              precision    recall  f1-score   support

           1       0.59      0.65      0.62        40
           2       0.59      0.53      0.56        92
           3       0.59      0.63      0.61        68

    accuracy                           0.59       200
   macro avg       0.59      0.60      0.60       200
weighted avg       0.59      0.59      0.59       200

Confusion Matrix for Decision Tree:
[[26 13  1]
 [14 49 29]
 [ 4 21 43]]
----------------------------------------------
Training Logistic Regression...

                Accuracy for Logistic Regression: 67.50%

Classification Report for Logistic Regression:
              precision    recall  f1-score   support

           1       0.74      0.65      0.69        40
           2       0.64      0.71      0.67        92
           3       0.70      0.65      0.67        68

    accuracy                           0.68       200
   macro avg       0.69      0.67      0.68       200
weighted avg       0.68      0.68      0.68       200

Confusion Matrix for Logistic Regression:
[[26 13  1]
 [ 9 65 18]
 [ 0 24 44]]
----------------------------------------------
Training KNN...

                Accuracy for KNN: 45.50%

Classification Report for KNN:
              precision    recall  f1-score   support

           1       0.47      0.40      0.43        40
           2       0.46      0.50      0.48        92
           3       0.45      0.43      0.44        68

    accuracy                           0.46       200
   macro avg       0.46      0.44      0.45       200
weighted avg       0.46      0.46      0.45       200

Confusion Matrix for KNN:
[[16 20  4]
 [14 46 32]
 [ 4 35 29]]
----------------------------------------------
Training NB...

                Accuracy for NB: 56.00%

Classification Report for NB:
              precision    recall  f1-score   support

           1       0.42      0.85      0.56        40
           2       0.62      0.51      0.56        92
           3       0.72      0.46      0.56        68

    accuracy                           0.56       200
   macro avg       0.59      0.61      0.56       200
weighted avg       0.61      0.56      0.56       200

Confusion Matrix for NB:
[[34  6  0]
 [33 47 12]
 [14 23 31]]
----------------------------------------------
Training MLP...

                Accuracy for MLP: 60.00%

Classification Report for MLP:
              precision    recall  f1-score   support

           1       0.58      0.53      0.55        40
           2       0.60      0.53      0.56        92
           3       0.61      0.74      0.67        68

    accuracy                           0.60       200
   macro avg       0.60      0.60      0.59       200
weighted avg       0.60      0.60      0.60       200

Confusion Matrix for MLP:
[[21 17  2]
 [13 49 30]
 [ 2 16 50]]
----------------------------------------------
Training Support Vector Machine...

                Accuracy for Support Vector Machine: 63.00%

Classification Report for Support Vector Machine:
              precision    recall  f1-score   support

           1       0.56      0.57      0.57        40
           2       0.61      0.68      0.65        92
           3       0.71      0.59      0.65        68

    accuracy                           0.63       200
   macro avg       0.63      0.62      0.62       200
weighted avg       0.64      0.63      0.63       200

Confusion Matrix for Support Vector Machine:
[[23 15  2]
 [15 63 14]
 [ 3 25 40]]
----------------------------------------------
Training Gradient Boosting...

                Accuracy for Gradient Boosting: 69.00%

Classification Report for Gradient Boosting:
              precision    recall  f1-score   support

           1       0.74      0.65      0.69        40
           2       0.66      0.73      0.69        92
           3       0.71      0.66      0.69        68

    accuracy                           0.69       200
   macro avg       0.70      0.68      0.69       200
weighted avg       0.69      0.69      0.69       200

Confusion Matrix for Gradient Boosting:
[[26 12  2]
 [ 9 67 16]
 [ 0 23 45]]
----------------------------------------------

In [139]:
X_train.shape

(600, 61)

In [140]:
y_train.shape

(600,)

# Best Accuracy

In [141]:
LR = LogisticRegression(random_state=42)

In [142]:
X_test.shape

(200, 61)

In [143]:
# Train the classifier
LR.fit(X_train, y_train)
    
    # Make predictions on the testing set
#y_pred1 = LR.predict(X_train)
y_pred = LR.predict(X_test)

    
    # Calculate accuracy
print(" ")

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy for Logistic Regression is  :" ,accuracy*100)

Accuracy for Logistic Regression is  : 67.5

In [144]:
GradientBoostingClassifier = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)

In [153]:
# Train the classifier
GradientBoostingClassifier.fit(X_train, y_train)
    
    # Make predictions on the testing set
#y_pred1 = LR.predict(X_train)
y_pred = GradientBoostingClassifier.predict(X_test)

    
    # Calculate accuracy
print(" ")

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy for Gradient Boosting Classifier is  :" ,accuracy*100,"% so we will use Gradient Boosting Classifier Model")

Accuracy for Gradient Boosting Classifier is  : 69.0 % so we will use Gradient Boosting Classifier Model

# Evaluation

In [154]:
y_pred

array([3, 1, 1, 3, 2, 2, 3, 2, 3, 2, 1, 1, 3, 3, 2, 1, 3, 2, 3, 3, 1, 3,
       2, 3, 2, 3, 2, 1, 3, 2, 3, 1, 2, 3, 3, 2, 2, 2, 1, 3, 2, 3, 1, 2,
       2, 1, 2, 2, 3, 2, 3, 2, 2, 1, 3, 2, 2, 1, 2, 2, 2, 3, 1, 1, 3, 3,
       3, 1, 1, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 1, 2, 3, 2, 2, 2, 3, 2, 2,
       2, 2, 3, 2, 2, 2, 2, 2, 3, 3, 1, 3, 2, 2, 2, 2, 2, 3, 1, 3, 2, 2,
       2, 3, 3, 3, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 3, 2, 2,
       3, 2, 3, 2, 2, 2, 2, 3, 1, 3, 2, 2, 1, 2, 2, 2, 2, 2, 3, 2, 1, 2,
       3, 2, 3, 1, 2, 1, 3, 1, 3, 2, 2, 2, 1, 3, 3, 3, 3, 3, 2, 1, 2, 2,
       2, 1, 2, 3, 3, 2, 2, 3, 2, 3, 2, 2, 1, 2, 1, 3, 3, 2, 1, 3, 1, 1,
       2, 3])

In [155]:
y_pred.shape

(200,)

In [156]:
print("Serial Number  Group_no ")

index=1

for index, prediction in enumerate(y_pred):
    if prediction == 1:
        print(f" {index}                1")
    elif prediction == 2:
        print(f" {index}                2")
    elif prediction == 3:
        print(f" {index}                3")

Serial Number  Group_no
 0                3
 1                1
 2                1
 3                3
 4                2
 5                2
 6                3
 7                2
 8                3
 9                2
 10                1
 11                1
 12                3
 13                3
 14                2
 15                1
 16                3
 17                2
 18                3
 19                3
 20                1
 21                3
 22                2
 23                3
 24                2
 25                3
 26                2
 27                1
 28                3
 29                2
 30                3
 31                1
 32                2
 33                3
 34                3
 35                2
 36                2
 37                2
 38                1
 39                3
 40                2
 41                3
 42                1
 43                2
 44                2
 45                1
 46                2
 47                2
 48                3
 49                2
 50                3
 51                2
 52                2
 53                1
 54                3
 55                2
 56                2
 57                1
 58                2
 59                2
 60                2
 61                3
 62                1
 63                1
 64                3
 65                3
 66                3
 67                1
 68                1
 69                2
 70                2
 71                2
 72                3
 73                3
 74                2
 75                2
 76                2
 77                2
 78                2
 79                1
 80                2
 81                3
 82                2
 83                2
 84                2
 85                3
 86                2
 87                2
 88                2
 89                2
 90                3
 91                2
 92                2
 93                2
 94                2
 95                2
 96                3
 97                3
 98                1
 99                3
 100                2
 101                2
 102                2
 103                2
 104                2
 105                3
 106                1
 107                3
 108                2
 109                2
 110                2
 111                3
 112                3
 113                3
 114                3
 115                2
 116                2
 117                3
 118                2
 119                2
 120                2
 121                2
 122                2
 123                2
 124                2
 125                2
 126                2
 127                1
 128                2
 129                3
 130                2
 131                2
 132                3
 133                2
 134                3
 135                2
 136                2
 137                2
 138                2
 139                3
 140                1
 141                3
 142                2
 143                2
 144                1
 145                2
 146                2
 147                2
 148                2
 149                2
 150                3
 151                2
 152                1
 153                2
 154                3
 155                2
 156                3
 157                1
 158                2
 159                1
 160                3
 161                1
 162                3
 163                2
 164                2
 165                2
 166                1
 167                3
 168                3
 169                3
 170                3
 171                3
 172                2
 173                1
 174                2
 175                2
 176                2
 177                1
 178                2
 179                3
 180                3
 181                2
 182                2
 183                3
 184                2
 185                3
 186                2
 187                2
 188                1
 189                2
 190                1
 191                3
 192                3
 193                2
 194                1
 195                3
 196                1
 197                1
 198                2
 199                3

# Counting frquency of the Group_no

In [157]:
from collections import Counter

# Count occurrences of each category in y_pred
prediction_counts = Counter(y_pred)

# Print the count of each category
for category, count in prediction_counts.items():
    print(f"occurance of Group_no {category}:  {count}  ")

occurance of Group_no 3:  63
occurance of Group_no 1:  35
occurance of Group_no 2:  102

# Save Model

In [158]:
import pickle

# Save the model to a file
with open('pickle_model.pkl', 'wb') as file:
    pickle.dump(GradientBoostingClassifier, file)

# Load the model from the file
with open('pickle_model.pkl', 'rb') as file:
    loaded_model = pickle.load(file)

# Saving Submission file

In [159]:
# Make predictions on the test data using the trained model
predictions = loaded_model.predict(X_test)

# Create a DataFrame with the predicted values
submission_df = pd.DataFrame({
    'serial number': test_df['sno'],  # Assuming 'Instance_ID' is the identifier column
    'Group_no': predictions  # Replace 'Predicted_Class' with your actual column name
})

# Export the DataFrame to a CSV file
submission_df.to_csv('SHAHID_ALI_SUBMISSION_FILE FINAL.csv', index=False)

# Loading Submission file

In [161]:
# Load the training dataset
Submission_file = pd.read_csv('SHAHID_ALI_SUBMISSION_FILE FINAL.csv')

In [162]:
Submission_file

     serial number  Group_no
0                1         3
1                2         1
2                3         1
3                4         3
4                5         2
..             ...       ...
195            196         3
196            197         1
197            198         1
198            199         2
199            200         3

[200 rows x 2 columns]

## Thank You so much